<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script src="js/config.js"></script>
  <script>
    let GAPI_ACTION = 'set';
    const CLIENT_ID = config.CLIENT_ID;
    const API_KEY = config.API_KEY;
    window.onload = function () {
      const signInWithBtn = window.signInWithBtn = document.getElementById("g-siw_btn");
      const signOutBtn = window.signOutBtn = document.getElementById('gacct-user-signout');

      google.accounts.id.initialize({
        client_id: CLIENT_ID,
        callback: handleCredentialResponse,
        auto_select: true,
        cancel_on_tap_outside: false,
      });

      google.accounts.id.renderButton(
        document.getElementById("g-siw_btn"),
        { theme: "outline", size: "large" }  // customization attributes
      );
      google.accounts.id.prompt((notification) => {
        // console.log(notification)
      }); // also display the One Tap dialog

      handleAuth();

      // handle consent for gmail api
      window.client = google.accounts.oauth2.initTokenClient({
        client_id: CLIENT_ID,
        scope: 'https://www.googleapis.com/auth/gmail.settings.basic \
              https://www.googleapis.com/auth/gmail.settings.sharing',
        callback: (tokenResponse) => {
          if (tokenResponse && tokenResponse.access_token) {
            // gapi.client.setToken({
            //   access_token: tokenResponse.access_token,
            // })
            gapi.client.setApiKey(API_KEY);

            // console.log('gapi.client access token: ' + JSON.stringify(gapi.client.getToken()));
            gapi.client.load('gmail', 'v1', () => {
              console.log('ready to run gmail api requests')
              const GAPI_ACTION_CONTROl_OBJ = {
                'load': handleGmailSignature,
                'set': patchGmailSendAs
              }
              GAPI_ACTION_Control[GAPI_ACTION]()
            });
          }
        }
      });
      signOutBtn.addEventListener('click', handleSignout);
    }
  </script>
  <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
  <div id="app">
    <header>
      <nav class="app__navbar navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Email Signature (<small>Beta 1.5.0</small>)</a>
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item">
              <div id="g-siw_btn"></div>
            </li>
            <li class="nav-item">
              <span id="gacct-user" class="navbar-text"></span>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item"><a id="gacct-user-signout" href="#" class="nav-link" style="display: none;"></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="app__content">
      <div class="app__editor">
        <form>
          <legend>Signature Details</legend>

          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input @focus="handleFocus($event, personName)" type="text" class="form-control" id="name"
              aria-describedby="nameHelp" v-model="personName" />
            <!-- <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div> -->
          </div>
          <div class="mb-3">
            <!-- <TransitionGroup name="fade"> -->
            <label for="pronoun-0" class="form-label">Pronouns </label>
            <label class="m-2"><input class="form-check-input" type="checkbox" value="" id="disable-pronoun-chbx"
                v-model="disablePronouns" />
              Hide Pronoun(s)?</label>
            <div class="row mb-1" :class="{'d-none': disablePronouns }" v-for="(pronoun, index) in pronouns"
              :key="index">
              <div class="col-8">
                <input type="text" class="form-control" :id="'pronoun-' + index" aria-describedby="pronounHelp"
                  @focus="handleFocus($event, pronoun.text)" v-model="pronoun.text" />
              </div>
              <div class="d-flex col-4 p-0">
                <span class="btn btn-secondary btn-sm btn-dynamic" @click="insertPronoun(index)">+</span>
                <span class="btn btn-secondary btn-sm btn-dynamic" @click="removePronoun(pronoun.id)"
                  v-if="pronouns.length > 1">-</span>
              </div>
            </div>
            <!-- </TransitionGroup> -->
            <!-- <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div> -->
          </div>
          <div class="mb-3">
            <label for="job-title" class="form-label">Job Title</label>
            <input @focus="handleFocus($event, jobTitle)" type="text" class="form-control" id="job-title"
              aria-describedby="jobTitleHelp" v-model="jobTitle" />
            <!-- <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div> -->
          </div>
          <div class="mb-3">
            <label for="main-phone" class="form-label">Phone</label>
            <input @focus="handleFocus($event, mainPhoneNum)" type="tel" class="form-control" id="main-phone"
              aria-describedby="mainPhoneNumHelp" v-model="mainPhoneNum" />
            <!-- <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div> -->
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input @focus="handleFocus($event, email)" type="email" class="form-control" id="email"
              aria-describedby="emailHelp" v-model="email" />
            <!-- <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div> -->
          </div>
        </form>
      </div>
      <div class="app__preview">
        <table class="main__html" style="direction: ltr; border-collapse: collapse">
          <tbody>
            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" class="twr-tpl"
                  style="font-family: Arial; line-height: 1.15; color: #000">
                  <tbody>
                    <tr>
                      <td>
                        <table cellpadding="0" cellspacing="0" width="100%" style="width: 100%">
                          <tbody>
                            <tr>
                              <td valign="top" style="
                                    vertical-align: top;
                                    padding-bottom: 10px;
                                  ">
                                <table cellpadding="0" cellspacing="0" class="twr-tpl-photo" style="width: 65px">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <img :src="orgLogo" height="52" width="180" style="
                                              width: 180;
                                              vertical-align: initial;
                                              border-radius: 4px;
                                              display: block;
                                              height: 52px;
                                            " />
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align: top" valign="top">
                        <table cellpadding="0" cellspacing="0" style="width: 100%">
                          <tbody>
                            <tr>
                              <td style="
                                    padding-bottom: 12px;
                                    line-height: 18px;
                                  ">
                                <span data-acs="name" class="twr-tpl-name" style="
                                      font-family: Arial;
                                      text-transform: initial;
                                      font-weight: bold;
                                    " v-if="hasName"><span style="color: #333; font-size: 16px">{{personName}}
                                  </span></span>
                                <span style="
                                      font-size: 12px;
                                      letter-spacing: 0px;
                                      font-family: Arial;
                                      text-transform: initial;
                                      font-weight: normal;
                                      color: #616263;
                                    " v-if="hasPronouns || (disablePronouns == false)">
                                  <em v-html="getPronouns(',')"></em></span><br
                                  v-if="hasName || hasPronouns && disablePronouns == false" />
                                <span data-acs="title" class="twr-tpl-title" style="
                                      font-size: 12px;
                                      letter-spacing: 0px;
                                      font-family: Arial;
                                      text-transform: initial;
                                      font-weight: bold;
                                      color: #333;
                                    " v-if="jobTitle.length != 0">
                                  {{jobTitle}}
                                </span>
                                <br v-if="jobTitle.length != 0" />
                                <span data-acs="company" class="twr-tpl-company" style="
                                      font-size: 12px;
                                      letter-spacing: 0px;
                                      font-family: Arial;
                                      text-transform: initial;
                                      font-weight: bold;
                                      color: #055ea4;
                                    ">
                                  {{orgName}}
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td style="line-height: 0">
                                <table cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table cellpadding="0" cellspacing="0">
                                          <tbody>
                                            <tr>
                                              <td style="
                                                    line-height: 0%;
                                                    padding-bottom: 6px;
                                                  " v-if="mainPhoneNum.length != 0">
                                                <table class="twr-tpl-phone" cellpadding="0" cellspacing="0" style="
                                                      line-height: 14px;
                                                      font-size: 12px;
                                                      font-family: Arial;
                                                    ">
                                                  <tbody>
                                                    <tr>
                                                      <td style="
                                                            color-scheme: light
                                                              only;
                                                            font-family: Arial;
                                                            font-weight: bold;
                                                            font-size: 12px;
                                                            color: #45668e;
                                                          ">
                                                        <img
                                                          src="https://www.thewritingrevolution.org/img/email/v1/phone.png"
                                                          style="
                                                              vertical-align: -2px;
                                                              line-height: 1.2;
                                                            " />
                                                      </td>
                                                      <td style="
                                                            width: 5px;
                                                            font-size: 1pt;
                                                            line-height: 0;
                                                          " width="5">
                                                        &nbsp;
                                                      </td>
                                                      <td style="
                                                            color-scheme: light
                                                              only;
                                                            font-family: Arial;
                                                            font-size: 12px;
                                                          ">
                                                        <a :href="`tel:${mainPhoneNum}`" target="_blank" style="
                                                              color-scheme: light
                                                                only;
                                                              text-decoration: none;
                                                              font-size: 12px;
                                                              font-family: Arial;
                                                            ">
                                                          <span data-acs="phone" style="
                                                                line-height: 1.2;
                                                                color-scheme: light
                                                                  only;
                                                                color: #212121;
                                                                font-family: Arial;
                                                                white-space: nowrap;
                                                                font-size: 12px;
                                                              ">
                                                            {{mainPhoneNum}}
                                                          </span>
                                                        </a>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                              <td style="
                                                    line-height: 0%;
                                                    padding-bottom: 6px;
                                                  ">
                                                <table class="twr-tpl-website" cellpadding="0" cellspacing="0" style="
                                                      line-height: 14px;
                                                      font-size: 12px;
                                                      font-family: Arial;
                                                    ">
                                                  <tbody>
                                                    <tr>
                                                      <td v-if="mainPhoneNum.length != 0" style="padding: 0 6px">
                                                        <span style="
                                                              color-scheme: light
                                                                only;
                                                              font-family: Arial;
                                                              font-weight: bold;
                                                              font-size: 12px;
                                                              color: #212121;
                                                            ">
                                                        </span>
                                                      </td>
                                                      <td style="
                                                            color-scheme: light
                                                              only;
                                                            font-family: Arial;
                                                            font-weight: bold;
                                                            font-size: 12px;
                                                            color: #45668e;
                                                          ">
                                                        <img
                                                          src="https://www.thewritingrevolution.org/img/email/v1/site.png"
                                                          style="
                                                              vertical-align: -2px;
                                                              line-height: 1.2;
                                                            " />
                                                      </td>
                                                      <td style="
                                                            width: 5px;
                                                            font-size: 1pt;
                                                            line-height: 0;
                                                          " width="5">
                                                        &nbsp;
                                                      </td>
                                                      <td style="
                                                            color-scheme: light
                                                              only;
                                                            font-family: Arial;
                                                            font-size: 12px;
                                                          ">
                                                        <a href="http://thewritingrevolution.org" target="_blank" style="
                                                              color-scheme: light
                                                                only;
                                                              text-decoration: none;
                                                              font-size: 12px;
                                                              font-family: Arial;
                                                            ">
                                                          <span data-acs="website" style="
                                                                line-height: 1.2;
                                                                color-scheme: light
                                                                  only;
                                                                color: #212121;
                                                                font-family: Arial;
                                                                white-space: nowrap;
                                                                font-size: 12px;
                                                              ">
                                                            {{website}}
                                                          </span>
                                                        </a>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr v-if="email.length != 0">
                                      <td>
                                        <table cellpadding="0" cellspacing="0">
                                          <tbody>
                                            <tr>
                                              <td style="
                                                    line-height: 0%;
                                                    padding-bottom: 6px;
                                                  ">
                                                <table class="twr-tpl-email" cellpadding="0" cellspacing="0" style="
                                                      line-height: 14px;
                                                      font-size: 12px;
                                                      font-family: Arial;
                                                    ">
                                                  <tbody>
                                                    <tr>
                                                      <td style="
                                                            color-scheme: light
                                                              only;
                                                            font-family: Arial;
                                                            font-weight: bold;
                                                            font-size: 12px;
                                                            color: #45668e;
                                                          ">
                                                        <img
                                                          src="https://www.thewritingrevolution.org/img/email/v1/email.png"
                                                          style="
                                                              vertical-align: -2px;
                                                              line-height: 1.2;
                                                            " />
                                                      </td>
                                                      <td style="
                                                            width: 5px;
                                                            font-size: 1pt;
                                                            line-height: 0;
                                                          " width="5">
                                                        &nbsp;
                                                      </td>
                                                      <td style="
                                                            color-scheme: light
                                                              only;
                                                            font-family: Arial;
                                                            font-size: 12px;
                                                          ">
                                                        <a :href="`mailto:${email}`" target="_blank" style="
                                                              color-scheme: light
                                                                only;
                                                              text-decoration: none;
                                                              font-size: 12px;
                                                              font-family: Arial;
                                                            ">
                                                          <span data-acs="email" style="
                                                                line-height: 1.2;
                                                                color-scheme: light
                                                                  only;
                                                                color: #212121;
                                                                font-family: Arial;
                                                                white-space: nowrap;
                                                                font-size: 12px;
                                                              ">
                                                            {{email}}
                                                          </span>
                                                        </a>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr class="row__address">
                                      <td>
                                        <table cellpadding="0" cellspacing="0">
                                          <tbody>
                                            <tr>
                                              <td style="
                                                    line-height: 0%;
                                                    padding-bottom: 6px;
                                                  ">
                                                <table class="twr-tpl-address" cellpadding="0" cellspacing="0" style="
                                                      line-height: 14px;
                                                      font-size: 12px;
                                                      font-family: Arial;
                                                    ">
                                                  <tbody>
                                                    <tr>
                                                      <td style="
                                                            color-scheme: light
                                                              only;
                                                            font-family: Arial;
                                                            font-weight: bold;
                                                            font-size: 12px;
                                                            color: #45668e;
                                                          ">
                                                        <img
                                                          src="https://www.thewritingrevolution.org/img/email/v1/address.png"
                                                          style="
                                                              vertical-align: -2px;
                                                              line-height: 1.2;
                                                            " />
                                                      </td>
                                                      <td style="
                                                            width: 5px;
                                                            font-size: 1pt;
                                                            line-height: 0;
                                                          " width="5">
                                                        &nbsp;
                                                      </td>
                                                      <td style="
                                                            color-scheme: light
                                                              only;
                                                            font-family: Arial;
                                                            font-size: 12px;
                                                          ">
                                                        <a href="https://maps.google.com/?q=90 Broad Street, 3rd Floor, New York, NY 10004"
                                                          target="_blank" style="
                                                              color-scheme: light
                                                                only;
                                                              text-decoration: none;
                                                              font-size: 12px;
                                                              font-family: Arial;
                                                            ">
                                                          <span data-acs="address" style="
                                                                line-height: 1.2;
                                                                color-scheme: light
                                                                  only;
                                                                color: #212121;
                                                                font-family: Arial;
                                                                white-space: nowrap;
                                                                font-size: 12px;
                                                              ">
                                                            {{addrLine1}},
                                                            {{addrLine2}}
                                                            {{city}} {{state}}
                                                            {{zip}}
                                                          </span>
                                                        </a>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="padding-top: 12px">
                                <table class="twr-tpl-social" cellpadding="0" cellspacing="0" style="width: 100%">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                          <tbody>
                                            <tr>
                                              <td align="left" style="
                                                    padding-right: 6px;
                                                    text-align: center;
                                                    padding-top: 0;
                                                  ">
                                                <a href="https://www.facebook.com/TheWritingRevolution/"
                                                  target="_blank">
                                                  <img width="24" height="24"
                                                    src="https://www.thewritingrevolution.org/img/email/v1/social_fb.png"
                                                    style="
                                                        float: left;
                                                        border: none;
                                                      " border="0" />
                                                </a>
                                              </td>
                                              <td align="left" style="
                                                    padding-right: 6px;
                                                    text-align: center;
                                                    padding-top: 0;
                                                  ">
                                                <a href="https://twitter.com/TheWritingRevol?lang=en" target="_blank">
                                                  <img width="24" height="24"
                                                    src="https://www.thewritingrevolution.org/img/email/v1/social_tw.png"
                                                    style="
                                                        float: left;
                                                        border: none;
                                                      " border="0" />
                                                </a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%">
                  <tbody>
                    <tr>
                      <td style="line-height: 0"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="copy__controls mt-2">
        <button @click="handleCopyToClipboard" id="ctc-btn" class="btn btn-copy btn-primary m-4">Copy to
          clipboard</button>
        <button @click="handleUpdateGmailSig" id="atg-btn" class="btn btn-secondary m-4" style="display: none;">Add to
          Gmail</button>
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <span class="text-muted">© 2009 - 2021 Kirk Clarke</span>
      </div>
    </footer>
  </div>

  <script>
    //TODO Make Vue code run before GAPI
    // var tokenClient;
    // var access_token;

    // https://stackoverflow.com/a/38552302/3623472
    // also see -> https://googleonetap.developer.li/assets/js/utils.js and https://stackoverflow.com/a/47574303/4064162
    // consider using JWT decoder

    function parseJwt(token) {
      var base64Url = token.split('.')[1];
      var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      var jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));

      return JSON.parse(jsonPayload);
    };

    function handleCredentialResponse(response) {
      // console.log(response)
      const responsePayload = window.identity = parseJwt(response.credential);

      // TODO: need to validate --> https://developers.google.com/identity/gsi/web/guides/verify-google-id-token
      if (responsePayload.email_verified) {
        window.isAuthenticated = true;
        handleAuth();
      }
    }

    // TODO: retrieve previously created signature (if possible)
    function handleGmailSignature() {
      GAPI_ACTION = 'load';
      gapi.client.gmail.users.settings.sendAs.get({ "userId": window.identity.email, "sendAsEmail": window.identity.email })
        // gapi.client.gmail.users.settings.sendAs.list({ "userId": window.identity.email })
        .then(function (response) {
          console.log(response);
        }, function (err) { console.error("Execute error", err); });
    }

    function patchGmailSendAs() {
      GAPI_ACTION = 'set';
      const currentEmailSig = document.querySelector('.main__html').outerHTML;
      return gapi.client.gmail.users.settings.sendAs.patch({
        "userId": window.identity.email,
        "sendAsEmail": window.identity.email,
        "resource": {
          "signature": currentEmailSig
        }
      })
        .then(function (response) {
          // Handle the results here (response.result has the parsed body).
          // console.log("Response", response);
          window.open('https://mail.google.com/mail/u/2/#inbox?compose=new', 'newGmailEmail');
        },
          function (err) { console.error("Execute error", err); });
    }

    function getGAPIAccessToken() {
      gapi.client.init({
      }).then(function () {
        gapi.client.load('gmail', 'v1');
      }).then(function (response) {
        console.log('gmail loaded');
      }, function (reason) {
        console.log('Error: ' + reason.result.error.message);
      });
    }

    function handleAuth() {
      const authUserTxt = document.getElementById('gacct-user');
      if (window.isAuthenticated) {
        // TODO: retrieve user contact info to update signature fields
        console.log("Authenticated!")
        window.signInWithBtn.style.setProperty('display', 'none');
        window.signOutBtn.style.setProperty('display', 'block');

        window.signOutBtn.innerHTML = `${window.identity
          .email} (Sign Out) <img class="gacct-user-avatar" src="${window.identity.picture}" alt="${window.identity
            .email}">`;
        authUserTxt.innerHTML = `Hey ${window.identity
          .given_name}!`;
      } else {
        console.log("Not Authenticated!")
        window.signInWithBtn.style.setProperty('display', 'block');
        window.signOutBtn.style.setProperty('display', 'none');
        authUserTxt.innerText = "";
      }
      root.handleGAPIBtn();
    }

    function handleSignout() {
      google.accounts.id.disableAutoSelect();
      window.isAuthenticated = false;
      handleAuth()
    }

    const defaultData = {
      personName: "Full Name",
      pronouns: [{ id: 0, text: "pronoun" }],
      pronounIdIncrement: 0,
      disablePronouns: false,
      jobTitle: "Job title",
      orgName: "The Writing Revolution",
      orgLogo:
        "http://www.thewritingrevolution.org/img/twr-logo_color_250x72.png",
      mainPhoneNum: "+1 999.999.9999",
      website: "thewritingrevolution.org",
      email: "email@thewritingrevolution.org",
      addrLine1: "90 Broad Street",
      addrLine2: "3rd Floor",
      city: "New York",
      state: "NY",
      zip: "10004",
    };

    const app = Vue.createApp({
      data() {
        return {
          data: defaultData,

        }
      },
      methods: {
        handleGAPIBtn() {
          const addToGmailBtn = document.getElementById('atg-btn');
          if (window.isAuthenticated) {
            addToGmailBtn.style.setProperty('display', 'inline-block');
          } else {
            addToGmailBtn.style.setProperty('display', 'none');
          }
        },
        handleFocus(event, val) {
          event.target.select();
        },
        detectMobile() {
          let isMobile = false;
          const isScreenMobile = window.matchMedia("only screen and (max-width: 760px)");
          if (/Mobi|Tablet|iPad|iPhone/i.test(navigator.userAgent) || isScreenMobile.matches) {
            isMobile = true
          }
          return isMobile;
        },
        handleCopyToClipboard(event) {
          if (this.detectMobile || navigator.clipboard) {
            this.getHTMLSignature(event);
          } else {
            // add event listener copy then trigger copy event
            document.addEventListener('copy', this.getHTMLSignature)
            document.execCommand('copy');
          }
        },
        handleUpdateGmailSig() {
          gapi.load('client', getGAPIAccessToken)
          window.client.requestAccessToken();
        },
        getHTMLSignature(e) {
          // needed to prevent browser from overriding clipboard
          e.preventDefault();
          // need HTML and Plain text as fallback (Chrome Android 97.0.4692.98)
          const htmlData = document.querySelector('.main__html').outerHTML;
          const plainData = document.querySelector('.app__preview').innerText;
          // setup newer clipboard async https://www.nikouusitalo.com/blog/why-isnt-clipboard-write-copying-my-richtext-html/
          if (e.target.id === 'ctc-btn') {
            const clipboardItem = new ClipboardItem({
              "text/plain": new Blob(
                [plainData],
                { type: "text/plain" }
              ),
              "text/html": new Blob(
                [htmlData],
                { type: "text/html" }
              ),
            });
            navigator.clipboard.write([clipboardItem]);
          } else {
            const clipboardData = e.clipboardData || window.clipboardData || e.originalEvent.clipboardData;
            clipboardData.setData('text/plain', plainData);
            clipboardData.setData('text/html', htmlData);
            document.removeEventListener('copy', this.getHTMLSignature);
          }
          this.handleCopyToClipboardBtn();
        },
        handleCopyToClipboardBtn() {
          const copiedTxt = 'Copied!'
          const defaultBtn = document.getElementById('ctc-btn');
          const defaultBtnText = defaultBtn.innerText;
          defaultBtn.innerText = copiedTxt;
          defaultBtn.classList.add('btn-success');
          setTimeout(() => {
            defaultBtn.innerText = defaultBtnText;
            defaultBtn.classList.remove('btn-success');
          }, 2000);
        },
        insertPronoun(index) {
          // add new pronoun and pronoun increment id
          let increment = this.pronounIdIncrement + 1;
          this.pronouns.splice(index + 1, 0, {
            id: increment,
            text: "pronoun",
          });
          this.pronounIdIncrement = increment;
        },
        removePronoun(id) {
          // get matching pronoun id and find index of object in pronoun array

          const i = this.pronouns.findIndex((pronoun) => {
            return pronoun.id == id;
          });
          // if found, remove it
          if (i > -1) {
            this.pronouns.splice(i, 1);
          }
        },
        // get pronoun values and join by given separator
        getPronouns(separator) {
          const args = this.pronouns;

          // hide pronouns are checked
          if (this.disablePronouns) {
            return "";
          }

          // handle if no pronouns are provided
          if (args.length == 1 && args[0].text == "") {
            return "";
          }
          if (args.every((item) => item.text == "")) {
            return "";
          }

          return `${this.hasName ? "&nbsp;" : ""}(${args
            .map((str) => {
              // index needed due to proxy from spread
              return str.text.toLowerCase();
              // console.log(str[index].text.toLowerCase());
            })
            .join(separator + " ")}) `;
        },
      },
      computed: {
        hasName() {
          return this.personName.length != 0;
        },
        hasPronouns() {
          const containsPronoun = this.pronouns.some(
            (item) => item.text.length != 0
          );
          return this.pronouns.length > 0 && containsPronoun;
        },
      },
    })

    const root = app.mount("#app");

  </script>
  <script async defer src="https://apis.google.com/js/api.js">
  </script>
</body>

</html>